<header class="fixed bg-black text-white w-screen top-0">
    <div class="flex items-center justify-between p-5">
        <div class="w-2/12">
            <a href="{{ path('app_home') }}" class="text-xl font-bold uppercase tracking-wider">Chippie Beauté</a>
        </div>
        <form action="" class="w-3/5 flex bg-white rounded">
            <input type="search" name="" id="" placeholder="Que recherchez-vuous ?" class="rounded w-full p-2 outline-none text-black">
            <button type="submit" class="text-black px-1"><i class="fa-solid fa-magnifying-glass"></i></button>
        </form>

        <div class="w-1/5 flex justify-end items-center">
            <a href="{% if (app.user) %} {{ path('app_account') }} {% else %} {{ path('app_login') }} {% endif %}" class="block border border-black transition ease-in-out duration-700 hover:border-white rounded px-2 py-1">
                <p class="text-xs">Bonjour, {% if (app.user) %} {{ app.user.firstname}} {% else %} identifiez-vous {% endif %}</p>
                <b>Mon compte</b>
            </a>

            <a href="" class="ml-5 h-full  border border-black transition ease-in-out duration-700 hover:border-white rounded px-2 py-1">
                <p class=""><i class="fa-solid fa-cart-shopping text-2xl"></i> Panier</p>
            </a>
        </div>
    </div>
    <nav>
        <ul class="flex ml-3">
            {% for categorie in categories %}
            <li>
                <a href="" class="block mx-2 bg-pink-500 rounded-t py-2 px-2">{{ categorie.label }}</a>
                <ul>
                    {% for subCategorie in categorie.subCategories %}
                        <li>
                            <a href="">{{ subCategorie.label }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </li>
            {% endfor %}
        </ul>
    </nav>
</header>